<%- include ../partials/header.ejs %>

<form method="POST" action="/students">
    <input type="text" name="name" placeholder="Enter student's name">
    <br>
    <input type="submit" value="Add Student">
</form>

<%- include ../partials/footer.ejs %>
